# Including text resources
include LICENSE README.md CHANGELOG.md

# Include default config file
include hookee/config_default.yaml

# Exclude junk
global-exclude .DS_Store

# Exclude build
graft _build